.main-background {
    color: #fff;
    background-image: url(images/header-bg.jpg);
    background-size:cover;
}
.content img{width:50%;margin:30px 0 30px 0;}
.contact{
    background-color: black;
    background-image: url(images/map-image.png);
    background-size:cover;
    padding:40px 0 40px 0;
}
.contact h2,h5{color:#fff;}